head
    title Image Search Abstraction Layer

    link(rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700")
    link(rel="stylesheet" type="text/css" href="//fonts.googleapis.com/icon?family=Material+Icons")

    link(rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/css/bootstrap.min.css")

div(class="jumbotron text-white bg-danger")
    div(class="container")
        h1 Image Search Abstraction Layer

div(class="container")
    div(class="card")
        div(class="card-block")
            h2(class="card-title") User stories:
            hr

            p(class="lead") #[strong User Story 1:] I can get the image URLs, alt text and page urls for a set of images relating to a given search string.
                |
            p(class="lead") #[strong User Story 2:] I can paginate through the responses by adding a ?offset=2 parameter to the URL..
                |
            p(class="lead") #[strong User Story 3:] I can get a list of the most recently submitted search strings.

        div(class="card-block")
            h3(class="card-title") Usage
            hr
            div(class="card-block")
                h4(class="card-title") Make search:
                div(class="card bg-inverse")
                    div(class="card-block")
                        pre
                            code(class="text-white")= 'curl POST '  + siteUrl + 'api/images'

