head
    title Image Search Abstraction Layer

    link(rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700")
    link(rel="stylesheet" type="text/css" href="//fonts.googleapis.com/icon?family=Material+Icons")

    link(rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/css/bootstrap.min.css")

div(class="jumbotron text-white bg-danger")
    div(class="container")
        h1 Image Search Abstraction Layer

div(class="container")
    div(class="card")
        div(class="card-block")
            h2(class="card-title") User stories:
            hr

            p(class="lead") #[strong User Story 1:] I can get the image URLs, alt text and page urls for a set of images relating to a given search string.
                |
            p(class="lead") #[strong User Story 2:] I can paginate through the responses by adding a ?offset=2 parameter to the URL..
                |
            p(class="lead") #[strong User Story 3:] I can get a list of the most recently submitted search strings.

        div(class="card-block")
            h3(class="card-title") Usage
            hr
            div(class="card-block")
                h4(class="card-title") Make search:
                div(class="card")
                    div(class="card-block")
                        table(class="table")
                            thead
                                tr
                                    th params
                                    th type
                                    th description
                            tbody
                                tr
                                    td query
                                    td string
                                    td Query to make search

                                tr
                                    td offset
                                    td number
                                    td Number of items to ignore before first result,

                div(class="card bg-inverse")
                    div(class="card-block")
                        pre
                            code(class="text-white")= 'curl -X GET \\\n  \'' + siteUrl + 'api/images?query=cats&offset=11\''

            div(class="card-block")
                h4(class="card-title") Response
                div(class="card bg-inverse")
                    div(class="card-block")
                        pre
                            code(class="text-white")='[\n    {\n        "url": "https://media1.popsugar-assets.com/files/thumbor/ALaiIjt9_aXqNhhlToI1EDSaWv4/fit-in/550x550/filters:format_auto-!!-:strip_icc-!!-/2016/09/28/959/n/1922243/499d595c_edit_img_image_14690959_1475099788/i/Blind-Cat-Picks-His-Own-Cat-Friend.png",\n        "snippet": "Take Your Cat on an Adventure Day | Video | POPSUGAR Pets",\n        "thumbnail": "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQvW24pzXkt_zCyZdGxEe7F0Jw7HaM969tWlrQX_82zUUkq2TjFbhACZnjj",\n        "context": "https://www.popsugar.com/pets/Take-Your-Cat-Adventure-Day-Video-41633065"\n    },\n    ...\n]'

            div(class="card-block")
                h4(class="card-title") Get recent searches:
                div(class="card bg-inverse")
                    div(class="card-block")
                        pre
                            code(class="text-white")= 'curl -X GET \\\n  \'' + siteUrl + 'api/recent-searches\''

            div(class="card-block")
                h4(class="card-title") Response
                div(class="card bg-inverse")
                    div(class="card-block")
                        pre
                            code(class="text-white")= '[\n    {\n        "query": "nwa",\n        "offset": "1",\n        "ocurred_on": "2017-08-14T01:38:46.622Z"\n    },\n    {\n        "query": "the childs and the hood",\n        "offset": "1",\n        "ocurred_on": "2017-08-14T01:38:14.739Z"\n    },\n    ...\n]'
